<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE plist PUBLIC "-//GNUstep//DTD plist 0.9//EN" "/usr/GNUstep/System/Library/DTDs/plist-0_9.dtd">
<plist version="0.9">
<dict>
	<key>-10</key>
	<array>
		<string>00000</string>
		<string>00000</string>
		<string>01035</string>
		<string>02021</string>
		<string>03139</string>
		<string>04103</string>
		<string>05187</string>
		<string>06209</string>
		<string>07230</string>
		<string>08250</string>
		<string>09398</string>
		<string>99999</string>
	</array>
	<key>-12</key>
	<array>
		<string>00000</string>
		<string>00000</string>
		<string>01050</string>
		<string>02080</string>
		<string>03141</string>
		<string>04214</string>
		<string>05272</string>
		<string>06306</string>
		<string>07402</string>
		<string>08479</string>
		<string>09561</string>
		<string>99999</string>
	</array>
	<key>-13</key>
	<array>
		<string>00000</string>
		<string>00000</string>
		<string>01994</string>
		<string>03676</string>
		<string>99999</string>
	</array>
	<key>-15</key>
	<array>
		<string>0000</string>
		<string>0328</string>
		<string>99999</string>
	</array>
	<key>-16</key>
	<array>
		<string>00000</string>
		<string>00000</string>
		<string>01356</string>
		<string>02734</string>
		<string>04215</string>
		<string>99999</string>
	</array>
	<key>-17</key>
	<array>
		<string>00000</string>
		<string>00000</string>
		<string>01480</string>
		<string>02807</string>
		<string>03999</string>
		<string>99999</string>
	</array>
	<key>-19</key>
	<array>
		<string>00000</string>
		<string>00000</string>
		<string>01201</string>
		<string>02259</string>
		<string>03275</string>
		<string>04384</string>
		<string>99999</string>
	</array>
	<key>-26</key>
	<array>
		<string>00000</string>
		<string>00000</string>
		<string>01087</string>
		<string>02173</string>
		<string>03259</string>
		<string>04345</string>
		<string>99999</string>
	</array>
	<key>-27</key>
	<array>
		<string>00000</string>
		<string>31185</string>
		<string>99999</string>
	</array>
	<key>-34</key>
	<array>
		<string>00000</string>
		<string>00000</string>
		<string>01500</string>
		<string>03000</string>
		<string>04500</string>
		<string>06000</string>
		<string>07500</string>
		<string>09000</string>
		<string>10500</string>
		<string>12000</string>
		<string>13500</string>
		<string>15000</string>
		<string>16500</string>
		<string>18000</string>
		<string>19500</string>
		<string>21000</string>
		<string>22500</string>
		<string>24000</string>
		<string>99999</string>
	</array>
	<key>-35</key>
	<array>
		<string>00000</string>
		<string>99999</string>
	</array>
	<key>-36</key>
	<array>
		<string>00000</string>
		<string>00000</string>
		<string>01000</string>
		<string>99999</string>
	</array>
	<key>-37</key>
	<array>
		<string>00000</string>
		<string>00000</string>
		<string>05000</string>
		<string>99999</string>
	</array>
	<key>-38</key>
	<array>
		<string>00000</string>
		<string>00000</string>
		<string>05000</string>
		<string>99999</string>
	</array>
	<key>-39</key>
	<array>
		<string>00000</string>
		<string>00000</string>
		<string>05000</string>
		<string>99999</string>
	</array>
	<key>-51</key>
	<array>
		<string>00000</string>
		<string>00000</string>
		<string>01087</string>
		<string>02173</string>
		<string>03259</string>
		<string>04345</string>
		<string>99999</string>
	</array>
	<key>-52</key>
	<array>
		<string>00000</string>
		<string>00000</string>
		<string>01500</string>
		<string>03000</string>
		<string>04500</string>
		<string>06000</string>
		<string>07500</string>
		<string>09000</string>
		<string>10500</string>
		<string>12000</string>
		<string>13500</string>
		<string>15000</string>
		<string>16500</string>
		<string>18000</string>
		<string>19500</string>
		<string>21000</string>
		<string>22500</string>
		<string>24000</string>
		<string>99999</string>
	</array>
	<key>-61</key>
	<array>
		<string>00000</string>
		<string>00000</string>
		<string>05000</string>
		<string>99999</string>
	</array>
	<key>-62</key>
	<array>
		<string>00000</string>
		<string>00000</string>
		<string>05000</string>
		<string>99999</string>
	</array>
	<key>-63</key>
	<array>
		<string>00000</string>
		<string>00000</string>
		<string>05000</string>
		<string>99999</string>
	</array>
	<key>-65</key>
	<array>
		<string>00000</string>
		<string>00000</string>
		<string>05000</string>
		<string>99999</string>
	</array>
	<key>-66</key>
	<array>
		<string>00000</string>
		<string>00000</string>
		<string>99999</string>
	</array>
</dict>
</plist>
